
%p
  %b Name:
  = @meal.food.name
%p
  %b Description:
  = @meal.description
%p
  %b Daily record:
  = @meal.daily_food_record_id

= link_to 'Edit', edit_user_daily_food_record_meal_path(@user, @dfr, @meal)
\|
= link_to 'Back', user_daily_food_record_meals_path
